<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <br>
      <div class="top_text">
        <p>ヒッチハイク好きによる</p>
        <p>ヒッチハイク好きのための</p>
        <p>ヒッチハイクを盛り上げるためのサイトです</p>
      </div>
      <br>
      <br>
      <div class="top_text">
        <p>＜ お試しログインユーザ ＞</p>
        <p>(男性会員) ID: aaa  /  パスワード： aaa</p>
        <p>(女性会員) ID: bbb  /  パスワード： bbb</p>
        <p>※女性会員にしか見ることの出来ない記事を設定できます</p>
      </div>
    </div>
  </body>
</html>
