<% @page_title = "#{@member.name}さんのプロフィール情報" %>
<h2><%= @page_title %></h2>
<hr>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= button_to "戻る", {cotroller: "friends", action: "index"}, {method: :get, class: "btn-square"} %>
    </div>
  </div>
  <br>
  <%= render "members/table" %>
  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">友達申請</button>
  </div>
  <br>
</div>
